--extra-index-url https://download.pytorch.org/whl/cpu
torch
fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-dotenv
faiss-cpu
transformers
sentence-transformers
pinecone-client
stripe==7.5.0
requests
python-jose[cryptography]
passlib[bcrypt]
asyncpg
authlib
aiosqlite
mcp
httpx
aiohttp
groq
web3>=7.15.0
setuptools
itsdangerous